<%- include('./partials/head') %>

<!-- inladen van de header -->
<%- include('./partials/header') %>

<main>
    <h1>Welkom bij plantswap</h1>

    <section class="stekjes">
        <% stekjes.forEach(stekje => { %>
        <a href="/stekjes?id=<%= stekje.id %>">
            <section>
                <h2><%= stekje.naam %></h2>
                <% if (stekje.fotos[0]) { %>
                    <img src="<%=stekje.fotos[0].original %>" width="<%=stekje.fotos[0].width%>"
                    height="<%= stekje.fotos[0].heigth %>" alt="stekje <%= stekje.naam %>">
                <% }else{ %>
                    <!-- anders een placeholder -->
                    <img src="./assets/plant2.jpg">
                <% } %>
            </section>
        </a>
        <% }) %>
    </section>
</main>


<%- include('./partials/foot') %>